<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- the next is for Zotero -->
  {% if page.doi %}<meta name="citation_doi" content="{{ page.doi }}">{% endif %}

  <link type="application/feed+json" rel="alternate" href="https://index.biohackrxiv.org/feed.json" title="BioHackrXiv Index">

  {% if site.tags != "" %}
    {% include_cached collecttags.html %}
  {% endif %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

  <script src="https://cdn.jsdelivr.net/npm/citation-js"></script>
  <script>var Cite = require('citation-js')</script>
</head>
