<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fediscience.org/@biohackrxiv" rel="me" />
  <meta name="fediverse:creator" content="@biohackrxiv@fediscience.org">

  {%- seo -%}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- the next is for Zotero -->
  {% if page.doi %}<meta name="citation_doi" content="{{ page.doi }}">{% endif %}

  <!-- the next is for Google Rich Results -->
  {% if page.doi %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@id": "#periodical", "@type": "Periodical",
        "name": "BioHackrXiv", "url": "https://biohackrxiv.org/"
      },
      {
        "@id": "#article",
        "@type": "ScholarlyArticle",
        "headline": "{{ page.title }}",
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        {%- if page.modified_date -%}"dateModified": "{{ page.modified_date | date_to_xmlschema }}",{%- endif -%}
        "sameAs": [
          {% if page.europepmc %}"{{ page.europepmc | prepend:'https://europepmc.org/article/PPR/' }}",{% endif %}
          {% if page.wikidata %}"{{ page.wikidata| prepend:'http://wikidata.org/entity/' }}",{% endif %}
          "https://doi.org/{{ page.doi }}"
        ],
        {% assign authorCount = page.authors | size %}
        {% if authorCount == 0 %}
        {% else %}
          "author": [
          {% for author in page.authors %}
            { "@type": "Person",
              {% if author.orcid %}"sameAs": "https://orcid.org/{{ author.orcid }}",{% endif %}
              "name": "{{ author.name }}"
            }
            {% if forloop.last %}
            {% else %}
              ,
            {% endif %}
          {% endfor %}
          ],
        {% endif %}
        "description": "{{ page.excerpt | strip_html | normalize_whitespace }}",
        "isPartOf": [ { "@id": "#periodical" } ],
        "name": "{{ page.title }}",
        "license": [ { "@type": "CreativeWork", "name": "CC-BY 4.0 International", "url": "https://creativecommons.org/licenses/by/4.0/legalcode" } ]
      }
    ]
  }
  </script>
  {% endif %}

  <link type="application/feed+json" rel="alternate" href="https://index.biohackrxiv.org/feed.json" title="BioHackrXiv Index">

  {% if site.tags != "" %}
    {% include_cached collecttags.html %}
  {% endif %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

  <script src="https://cdn.jsdelivr.net/npm/citation-js"></script>
  <script>var Cite = require('citation-js')</script>
</head>
