---
layout: base
---
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Hackathon",
  {% if page.location %}"location": "{{ page.location }}",{% endif %}
  {% if page.website %}"url": "{{ page.website }}",{% endif %}
  {% if page.image %}"image": "{{ page.image }}",{% endif %}
  {% if page.startDate %}"startDate": "{{ page.startDate }}",{% endif %}
  {% if page.endDate %}"endDate": "{{ page.endDate }}",{% endif %}
  {% if page.wikidata %}"sameAs": "http://www.wikidata.org/entity/{{ page.wikidata }}",{% endif %}
  "name": "{{ page.title }}",
  "keywords": "biohackathon, hackathon, {{ page.tag }}"
}
</script>

<!-- Source: https://github.com/qian256/qian256.github.io/blob/master/_includes/collecttags.html (MIT license) -->

<div class="post">
<h1 class="tag-title">{{ page.title }}</h1>
<p class="post-meta">
  <a href="{{ '/feed/by_tag/' | append: page.tag | append: '.xml' | relative_url }} "><i style="color: #FFA500" class="fa-solid fa-square-rss"></i></a>&nbsp;
  <i class="fa-solid fa-tag"></i> {{ page.tag }}&nbsp;
</p>
<p class="post-meta">
{%- if page.startDate -%}
  <i class="fa-regular fa-calendar-days"></i>
  <span>
    {{ page.startDate | date: date_format }}
    {% if page.endDate %}- {{ page.endDate | date: date_format }}{% endif %}
  </span>
  <br />
{%- endif -%}
{%- if page.website -%}
  <span class="post-meta"><i class="fa-solid fa-globe"></i> <a style="color: #828282" href="{{ page.website }}">{{ page.website }}</a></span><br />
{%- endif -%}
{%- if page.wikidata -%}
  <span class="post-meta"><i class="fa-solid fa-cloud"></i> <a style="color: #828282" href="https://scholia.toolforge.org/event/{{ page.wikidata }}">Scholia</a></span><br />
{%- endif -%}

</p>
{% if page.image %}<img style="float: right;" src="{{ page.image }}" width="150px" />{% endif %}
<p>{{ content }}</p>
<h2>Preprints</h2>
<ul class="post-list">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{% for post in site.tags[page.tag] %}
      <li>
        <span class="post-meta"><i class="fa-regular fa-calendar-days"></i> {{ post.date | date: date_format }}</span>
        <div>
        {% if post.image %}<a href="{{ post.url | relative_url }}" ><img style="float: right;" src="{{ post.image }}" width="300px" />{% endif %}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div style="float: right; width: 200px" class='altmetric-embed' data-badge-type='donut' data-condensed='true' data-badge-details='right' data-doi="{{ post.doi }}"></div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html | normalize_whitespace }}
        {%- endif -%}
        <span class="post-meta"> <i class="fa-regular fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
        </div>
      </li>
{% endfor %}
</ul>
</div>
